<mat-toolbar color="primary">
    <span>Customize Your Weapon</span>
</mat-toolbar>

<form [className]="'weapon-customization-form'" [formGroup]="weaponForm" (ngSubmit)="onSubmit()" method="post">
    <mat-form-field class="field-full-width">
        <input matInput placeholder="Weapon's name" value="" formControlName="name">
    </mat-form-field>
    <mat-grid-list cols="5" rowHeight="100px" >
        <mat-grid-tile>
            <img #weaponTypeImage *ngIf="selectedWeaponType" src="{{ selectedWeaponType ? selectedWeaponType.image : '' }}" alt="{{selectedWeaponType.title}}" style="width: 90%; height: 90%"/> 
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="add-gadget-icon"> + </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <img #weaponOpticImage *ngIf="selectedWeaponOptic" src="{{ selectedWeaponOptic.image}}" alt="{{selectedWeaponOptic.title}}" style="width: 90%; height: 90%"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="add-gadget-icon"> + </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <img #weaponAmmunitionImage *ngIf="selectedWeaponAmmunition" src="{{selectedWeaponAmmunition.image}}" alt="{{selectedWeaponAmmunition.title}}" style="width: 90%; height: 90%"/>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="100px" [style.background]="'lightblue'" *ngIf="weaponArsenal">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Weapon Type</mat-label>
                <mat-select class="field-full-width" formControlName="type" (selectionChange)="onChangeWeaponType($event)">
                  <mat-option *ngFor="let weaponType of weaponArsenal.weaponTypes" [value]="weaponType.id">
                    {{weaponType.title}}
                  </mat-option>
                </mat-select>
            </mat-form-field> 
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Weapon Optics</mat-label>
                <mat-select class="field-full-width" formControlName="optic" (selectionChange)="onChangeWeaponOptic($event)">
                  <mat-option *ngFor="let weaponOptic of weaponArsenal.weaponOptics" [value]="weaponOptic.id">
                    {{weaponOptic.title}}
                  </mat-option>
                </mat-select>
            </mat-form-field> 
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Weapon Ammunition</mat-label>
                <mat-select class="field-full-width" formControlName="ammunition" (selectionChange)="onChangeWeaponAmmunition($event)">
                  <mat-option *ngFor="let weaponAmmunition of weaponArsenal.weaponAmmunitions" [value]="weaponAmmunition.id">
                    {{weaponAmmunition.title}}
                  </mat-option>
                </mat-select>
            </mat-form-field> 
        </mat-grid-tile>
      </mat-grid-list>
      <div [className]="'form-actions'">
        <button mat-raised-button color="primary" type="submit">CONFIRM</button>
        <button mat-raised-button color="warn">CANCEL</button>
      </div>
</form>
